@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Spartan", sans-serif;
}

body {
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 32px;
  min-height: 100vh;
  background-color: var(--main-backgroundColor);
}

ul li {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
}
button {
  appearance: none;
  background: none;
  border: none;
}
.calculator {
  padding: 20px 0;
  margin: 0 auto;
  width: 540px;
  max-width: 85%;
  color: var(--main-textColor);
}

/* theme-toggle */
.themeBox {
  position: relative;
  height: 45px;
  line-height: 45px;
  margin-bottom: 30px;
}
.theme {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 25px;
  background-color: var(--slider-backgroundColor);
  border-radius: 12.5px;
}
.theme .toggle {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  display: block;
  background-color: var(--toggle-backgroundColor);
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  z-index: 1;
}
.theme ul {
  display: flex;
  position: absolute;
  left: 0;
  top: -25px;
  font-size: 11px;
}
.theme ul li {
  height: 25px;
  width: 23px;
  text-align: center;
  line-height: 25px;
}
.theme ul li:hover {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.377);
  cursor: pointer;
}
.theme span {
  position: absolute;
  left: -70px;
  bottom: 6px;
  font-size: 11px;
}

/* screen */
.display {
  height: 130px;
  padding: 35px 35px 49px;
  margin-bottom: 25px;
  text-align: end;
  border-radius: 6px;
  background-color: var(--display-backgroundColor);
  color: var(--display-textColor);
}

/* keypad */
.container {
  display: grid;
  position: relative;
  width: 100%;
  height: 480px;
  padding: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  border-radius: 6px;
  background-color: var(--keypad-backgroundColor);
  color: var(--keypad-textColor);
}

/* keys */
button{
  font-family: "Spartan";
  border-radius: 5px;
}
button, a{
  color: var(--keypad-textColor);
}
.container .operand,
.container .operator {
  background-color: var(--numkeys-backgroundColor);
  box-shadow: var(--numkeys-boxShadow);
  color: var(--numkeys-textColor);
}

/* functional keys */
.container .Enter {
  grid-column: 3 / 5;
  background-color: var(--enter-backgroundColor);
  box-shadow: var(--enter-boxShadow);
  color: var(--enter-textColor);
}
.Backspace, .reset, .sign{
  background-color: var(--funkeys-backgroundColor);
  box-shadow: var(--funkeys-boxShadow);
}

/* footer */
.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: var(--footer-textColor);
}
.attribution a {
  color: var(--footer-linkTextColor);
}

.disable {
  pointer-events: none;
}

